In [5]:
import pandas as pd
import numpy as np

schools_data = pd.read_csv('../shared_data_read_only/Education-Data/2023-2024 Master School List (20231003).csv')
schools_data.head()

enroll_data = pd.read_csv('../shared_data_read_only/Education-Data/2023-2024 Enrollment & Demographics.csv')

mat_data = pd.read_csv('../shared_data_read_only/Education-Data/SDP_College_Matriculation_2021-2022.csv')
mat_data.head()

,School Year,ULCS Code,School Name,Number of Graduates,First-Fall Matriculation Rate
0,2021-2022,1010,John Bartram High School,120,25.83
1,2021-2022,1020,West Philadelphia High School,81,35.80
2,2021-2022,1030,High School of the Future,133,35.34
3,2021-2022,1050,Paul Robeson High School for Human Services,79,39.24
4,2021-2022,1100,William L. Sayre High School,85,23.53

In [6]:
final_zips = [19132, 19121, 19134, 19133, 19124]

new_df = pd.DataFrame()

for zips in final_zips:
    zip_df = schools_data.loc[schools_data['Zip Code'] == zips]
    zip_df = zip_df.loc[zip_df['Grade 9'] == 1]

    zip_schools = zip_df['ULCS Code'].to_numpy()
    
    enroll_data_t = enroll_data.loc[enroll_data['ulcscode'].isin(zip_schools)]
    enroll_data_t = enroll_data_t.loc[enroll_data_t['GradeLevel'].str.contains('All Grades')]
    
    enroll_data_t = enroll_data_t[["Sector", 'ulcscode', "SchoolName", "StudentEnrollment", "BlackAfricanAmericanPCT", "CEPEconomicallyDisadvantagedRate"]]

    enroll_data_t.loc[len(enroll_data_t.index)] = ['N/A', 'N/A', 'Average', enroll_data_t['StudentEnrollment'].mean(), enroll_data_t['BlackAfricanAmericanPCT'].mean(), enroll_data_t['CEPEconomicallyDisadvantagedRate'].mean()]
    enroll_data_t.loc[len(enroll_data_t.index)] = ['N/A', 'N/A', 'Median', enroll_data_t['StudentEnrollment'].median(), enroll_data_t['BlackAfricanAmericanPCT'].median(), enroll_data_t['CEPEconomicallyDisadvantagedRate'].median()]
    enroll_data_t.insert(1, "Zip Code", [zips] * len(enroll_data_t), True)
    
    enroll_data_t.round(2)
    new_df = pd.concat([new_df, enroll_data_t], ignore_index=True)

display(new_df)

,Sector,Zip Code,ulcscode,SchoolName,StudentEnrollment,BlackAfricanAmericanPCT,CEPEconomicallyDisadvantagedRate
0,Charter,19132,3441,TECH Freire Charter School,494.000000,93.5200,NaN
1,District,19132,4060,Murrell Dobbins Career and Technical High School,774.000000,89.4100,100.000
2,Alternative,19132,8450,YESPhilly,126.000000,91.2700,100.000
3,N/A,19132,N/A,Average,464.666667,91.4000,100.000
4,N/A,19132,N/A,Median,479.333333,91.3350,100.000
5,Alternative,19121,2310,Achieve Academy,50.000000,92.0000,100.000
6,Alternative,19121,3510,El Centro de Estudiantes (Big Picture),100.000000,52.0000,1.600
7,District,19121,4030,High School of Engineering and Science,843.000000,58.9600,92.430
8,District,19121,4140,Strawberry Mansion High School,249.000000,92.3700,100.000
9,District,19121,5180,Vaux High School: A Big Picture,305.000000,89.5100,1.050
10,Alternative,19121,8080,Excel Academy North,208.000000,91.8300,100.000
11,Alternative,19121,8860,One Bright Ray Mansion,105.000000,87.6200,100.000
12,Alternative,19121,8870,One Bright Ray Mansion Evening,79.000000,88.6100,0.000
13,N/A,19121,N/A,Average,242.375000,81.6125,61.885
14,N/A,19121,N/A,Median,208.000000,88.6100,92.430
15,District,19134,5060,Jules E. Mastbaum Area Vocational Technical Hi...,591.000000,43.1500,100.000
16,N/A,19134,N/A,Average,591.000000,43.1500,100.000
17,N/A,19134,N/A,Median,591.000000,43.1500,100.000
18,Alternative,19133,8190,One Bright Ray - Fairhill Campus,261.000000,41.3800,0.610
19,N/A,19133,N/A,Average,261.000000,41.3800,0.610
20,N/A,19133,N/A,Median,261.000000,41.3800,0.610
21,Alternative,19124,3290,Excel Academy South,207.000000,48.3100,100.000
22,Charter,19124,3301,Community Academy of Philadelphia Charter School,1246.000000,9.9500,NaN
23,Charter,19124,3332,Mariana Bracetti Academy Charter School,1509.000000,21.1400,NaN
24,Charter,19124,3364,First Philadelphia Preparatory Charter School,1857.000000,47.2300,NaN
25,District,19124,7010,Frankford High School,861.000000,40.3000,100.000
26,District,19124,7120,Samuel Fels High School,1238.000000,38.3700,100.000
27,Alternative,19124,8890,One Bright Ray - Simpson Campus,267.000000,38.2000,0.000
28,Alternative,19124,8891,One Bright Ray Simpson - Evening,131.000000,40.4600,0.000
29,N/A,19124,N/A,Average,914.500000,35.4950,60.000
30,N/A,19124,N/A,Median,914.500000,38.3700,80.000

In [7]:
new_df.insert(6, 'Matriculation Rate', [np.NaN] * len(new_df))

for i in range(len(new_df)):
    school = new_df.iloc[i, 2]
    if school == 'N/A': continue
    mat_df = mat_data.loc[mat_data['ULCS Code'] == school]
    if mat_df.empty: continue
    new_df.at[i, 'Matriculation Rate'] = mat_df.iloc[0, 4]
    
display(new_df)

,Sector,Zip Code,ulcscode,SchoolName,StudentEnrollment,BlackAfricanAmericanPCT,Matriculation Rate,CEPEconomicallyDisadvantagedRate
0,Charter,19132,3441,TECH Freire Charter School,494.000000,93.5200,NaN,NaN
1,District,19132,4060,Murrell Dobbins Career and Technical High School,774.000000,89.4100,25.95,100.000
2,Alternative,19132,8450,YESPhilly,126.000000,91.2700,NaN,100.000
3,N/A,19132,N/A,Average,464.666667,91.4000,NaN,100.000
4,N/A,19132,N/A,Median,479.333333,91.3350,NaN,100.000
5,Alternative,19121,2310,Achieve Academy,50.000000,92.0000,NaN,100.000
6,Alternative,19121,3510,El Centro de Estudiantes (Big Picture),100.000000,52.0000,NaN,1.600
7,District,19121,4030,High School of Engineering and Science,843.000000,58.9600,78.79,92.430
8,District,19121,4140,Strawberry Mansion High School,249.000000,92.3700,0.00,100.000
9,District,19121,5180,Vaux High School: A Big Picture,305.000000,89.5100,36.17,1.050
10,Alternative,19121,8080,Excel Academy North,208.000000,91.8300,NaN,100.000
11,Alternative,19121,8860,One Bright Ray Mansion,105.000000,87.6200,NaN,100.000
12,Alternative,19121,8870,One Bright Ray Mansion Evening,79.000000,88.6100,NaN,0.000
13,N/A,19121,N/A,Average,242.375000,81.6125,NaN,61.885
14,N/A,19121,N/A,Median,208.000000,88.6100,NaN,92.430
15,District,19134,5060,Jules E. Mastbaum Area Vocational Technical Hi...,591.000000,43.1500,20.25,100.000
16,N/A,19134,N/A,Average,591.000000,43.1500,NaN,100.000
17,N/A,19134,N/A,Median,591.000000,43.1500,NaN,100.000
18,Alternative,19133,8190,One Bright Ray - Fairhill Campus,261.000000,41.3800,NaN,0.610
19,N/A,19133,N/A,Average,261.000000,41.3800,NaN,0.610
20,N/A,19133,N/A,Median,261.000000,41.3800,NaN,0.610
21,Alternative,19124,3290,Excel Academy South,207.000000,48.3100,NaN,100.000
22,Charter,19124,3301,Community Academy of Philadelphia Charter School,1246.000000,9.9500,NaN,NaN
23,Charter,19124,3332,Mariana Bracetti Academy Charter School,1509.000000,21.1400,NaN,NaN
24,Charter,19124,3364,First Philadelphia Preparatory Charter School,1857.000000,47.2300,NaN,NaN
25,District,19124,7010,Frankford High School,861.000000,40.3000,21.85,100.000
26,District,19124,7120,Samuel Fels High School,1238.000000,38.3700,27.71,100.000
27,Alternative,19124,8890,One Bright Ray - Simpson Campus,267.000000,38.2000,NaN,0.000
28,Alternative,19124,8891,One Bright Ray Simpson - Evening,131.000000,40.4600,NaN,0.000
29,N/A,19124,N/A,Average,914.500000,35.4950,NaN,60.000
30,N/A,19124,N/A,Median,914.500000,38.3700,NaN,80.000