In [7]:
import pandas as pd

schools_data = pd.read_csv('shared_data_read_only/Education-Data/2023-2024 Master School List (20231003).csv')
schools_data.head()

,PA Code,NSC Code,NCES Code,AUN Code,ULCS Code,SRC School ID,School Name (ULCS),Publication Name,Publication Name Alpha List,Abbreviated Name,...,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade 10,Grade 11,Grade 12
0,3847.0,393345,4.218990e+11,126515001.0,1010,101,JOHN BARTRAM HIGH SCHOOL,John Bartram High School,"Bartram, John High School",Bartram,...,0,0,0,0,0,0,1,1,1,1
1,3860.0,393555,4.218990e+11,126515001.0,1020,102,WEST PHILADELPHIA HIGH SCHOOL,West Philadelphia High School,West Philadelphia High School,West Philadelphia,...,0,0,0,0,0,0,1,1,1,1
2,7903.0,392779,4.218990e+11,126515001.0,1030,103,HIGH SCHOOL OF THE FUTURE,High School of the Future,High School of the Future,HS of Future,...,0,0,0,0,0,0,1,1,1,1
3,7780.0,393347,4.218990e+11,126515001.0,1050,105,PAUL ROBESON HIGH SCHOOL,Paul Robeson High School for Human Services,"Robeson, Paul High School for Human Services",Robeson,...,0,0,0,0,0,0,1,1,1,1
4,7245.0,393944,4.218990e+11,126515001.0,1100,110,SAYRE HIGH SCHOOL,William L. Sayre High School,"Sayre, William L. High School",Sayre,...,0,0,0,0,0,0,1,1,1,1

In [62]:
zip_19121 = [19121]
zip_19121_df = schools_data.loc[schools_data['Zip Code'].isin(zip_19121)]
zip_19121_df = zip_19121_df.loc[zip_19121_df['Grade 9'] == 1]
zip_19121_df

,PA Code,NSC Code,NCES Code,AUN Code,ULCS Code,SRC School ID,School Name (ULCS),Publication Name,Publication Name Alpha List,Abbreviated Name,...,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade 10,Grade 11,Grade 12
39,NaN,393414,NaN,126515001.0,2310,231,ACHIEVE ACADEMY,Achieve Academy,Achieve Academy,Achieve,...,0,0,0,1,1,1,1,1,1,1
152,NaN,393211,NaN,126515001.0,3510,351,EL CENTRO DE ESTUDIANTES,El Centro de Estudiantes (Big Picture),El Centro de Estudiantes - Big Picture,El Centro,...,0,0,0,0,0,0,1,1,1,1
158,7023.0,393342,4.218990e+11,126515001.0,4030,403,ENGINEERING & SCIENCE HIGH SCH,High School of Engineering and Science,High School of Engineering and Science - Carver,Carver,...,0,0,0,0,1,1,1,1,1,1
160,7255.0,393531,4.218990e+11,126515001.0,4140,414,STRAWBERRY MANSION HIGH SCHOOL,Strawberry Mansion High School,Strawberry Mansion High School,Strawberry Mansion,...,0,0,0,0,0,0,1,1,1,1
188,8440.0,A23513,4.218990e+11,126515001.0,5180,518,VAUX BIG PICTURE HIGH SCHOOL,Vaux High School: A Big Picture,Vaux High School - Big Picture,Vaux High,...,0,0,0,0,0,0,1,1,1,1
289,NaN,393249,NaN,126515001.0,8080,808,EXCEL ACADEMY NORTH,Excel Academy North,Excel Academy North,Excel North,...,0,0,0,0,0,0,1,1,1,1
324,NaN,390081,NaN,126515001.0,8860,886,ONE BRIGHT RAY MANSION ACCEL,One Bright Ray Mansion,One Bright Ray Mansion,OBR Mansion,...,0,0,0,0,0,0,1,1,1,1
325,NaN,A26193,NaN,126515001.0,8870,887,ONE BRIGHT RAY MANSION EVENING,One Bright Ray Mansion Evening,One Bright Ray Mansion Evening,OBR Mansion Evn,...,0,0,0,0,0,0,1,1,1,1

In [63]:
zip_19121_schools = zip_19121_df['ULCS Code'].to_numpy()

enroll_data_19121 = pd.read_csv('shared_data_read_only/Education-Data/2023-2024 Enrollment & Demographics.csv')
enroll_data_19121.head()

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
0,2023-2024,District,District,1010,John Bartram High School,Network 13,09,158,24.0,15.19,...,76.58,25,15.82,6,3.80,0,0.0,0,0.00,NaN
1,2023-2024,District,District,1010,John Bartram High School,Network 13,10,145,40.0,27.59,...,71.03,33,22.76,5,3.45,0,0.0,0,0.00,NaN
2,2023-2024,District,District,1010,John Bartram High School,Network 13,11,111,23.0,20.72,...,81.98,11,9.91,4,3.60,0,0.0,1,0.90,NaN
3,2023-2024,District,District,1010,John Bartram High School,Network 13,12,112,27.0,24.11,...,80.36,17,15.18,1,0.89,0,0.0,0,0.00,NaN
4,2023-2024,District,District,1010,John Bartram High School,Network 13,All Grades,526,114.0,21.67,...,77.00,86,16.35,16,3.04,0,0.0,1,0.19,100.0

In [64]:
enroll_data_19121 = enroll_data_19121.loc[enroll_data_19121['ulcscode'].isin(zip_19121_schools)]
enroll_data_19121 = enroll_data_19121.loc[enroll_data_19121['GradeLevel'].str.contains('All Grades')]
enroll_data_19121

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
311,2023-2024,Alternative,Alt Contracted,2310,Achieve Academy,Opportunity,All Grades,50,1.0,2.00,...,92.00,4,8.00,0,0.00,0,0.00,0,0.00,100.00
1323,2023-2024,Alternative,Alt Contracted,3510,El Centro de Estudiantes (Big Picture),Opportunity,All Grades,100,2.0,2.00,...,52.00,36,36.00,4,4.00,0,0.00,7,7.00,1.60
1355,2023-2024,District,District,4030,High School of Engineering and Science,Network 1,All Grades,843,19.0,2.25,...,58.96,101,11.98,49,5.81,1,0.12,73,8.66,92.43
1365,2023-2024,District,District,4140,Strawberry Mansion High School,Network 4,All Grades,249,2.0,0.80,...,92.37,7,2.81,7,2.81,0,0.00,5,2.01,100.00
1603,2023-2024,District,District,5180,Vaux High School: A Big Picture,Innovation,All Grades,305,7.0,2.30,...,89.51,17,5.57,11,3.61,1,0.33,2,0.66,1.05
2351,2023-2024,Alternative,Alt Contracted,8080,Excel Academy North,Opportunity,All Grades,208,1.0,0.48,...,91.83,7,3.37,6,2.88,0,0.00,4,1.92,100.00
2615,2023-2024,Alternative,Alt Contracted,8860,One Bright Ray Mansion,Opportunity,All Grades,105,1.0,0.95,...,87.62,11,10.48,2,1.90,0,0.00,0,0.00,100.00
2620,2023-2024,Alternative,Alt Contracted,8870,One Bright Ray Mansion Evening,Opportunity,All Grades,79,1.0,1.27,...,88.61,8,10.13,0,0.00,0,0.00,1,1.27,0.00

In [65]:
enroll_data_19121 = enroll_data_19121[["Sector", "SchoolName", "StudentEnrollment", "BlackAfricanAmericanPCT", "CEPEconomicallyDisadvantagedRate"]]

enroll_data_19121.loc[len(enroll_data_19121.index)] = ['N/A', 'Average', enroll_data_19121['StudentEnrollment'].mean(), enroll_data_19121['BlackAfricanAmericanPCT'].mean(), enroll_data_19121['CEPEconomicallyDisadvantagedRate'].mean()]
enroll_data_19121.loc[len(enroll_data_19121.index)] = ['N/A', 'Median', enroll_data_19121['StudentEnrollment'].median(), enroll_data_19121['BlackAfricanAmericanPCT'].median(), enroll_data_19121['CEPEconomicallyDisadvantagedRate'].median()]

enroll_data_19121.round(2)

/tmp/ipykernel_63103/2660524237.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enroll_data_19121.loc[len(enroll_data_19121.index)] = ['N/A', 'Average', enroll_data_19121['StudentEnrollment'].mean(), enroll_data_19121['BlackAfricanAmericanPCT'].mean(), enroll_data_19121['CEPEconomicallyDisadvantagedRate'].mean()]
/tmp/ipykernel_63103/2660524237.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enroll_data_19121.loc[len(enroll_data_19121.index)] = ['N/A', 'Median', enroll_data_19121['StudentEnrollment'].median(), enroll_data_19121['BlackAfricanAmericanPCT'].median(), enroll_data_19121['CEPEconomicallyDisadvantagedRate'].median()]

,Sector,SchoolName,StudentEnrollment,BlackAfricanAmericanPCT,CEPEconomicallyDisadvantagedRate
311,Alternative,Achieve Academy,50.00,92.00,100.00
1323,Alternative,El Centro de Estudiantes (Big Picture),100.00,52.00,1.60
1355,District,High School of Engineering and Science,843.00,58.96,92.43
1365,District,Strawberry Mansion High School,249.00,92.37,100.00
1603,District,Vaux High School: A Big Picture,305.00,89.51,1.05
2351,Alternative,Excel Academy North,208.00,91.83,100.00
2615,Alternative,One Bright Ray Mansion,105.00,87.62,100.00
2620,Alternative,One Bright Ray Mansion Evening,79.00,88.61,0.00
8,N/A,Average,242.38,81.61,61.88
9,N/A,Median,208.00,88.61,92.43

In [66]:
zip_19132 = [19132]
zip_19132_df = schools_data.loc[schools_data['Zip Code'].isin(zip_19132)]
zip_19132_df = zip_19132_df.loc[zip_19132_df['Grade 9'] == 1]
zip_19132_df

,PA Code,NSC Code,NCES Code,AUN Code,ULCS Code,SRC School ID,School Name (ULCS),Publication Name,Publication Name Alpha List,Abbreviated Name,...,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade 10,Grade 11,Grade 12
147,8359.0,390061,4.200900e+11,126511530.0,3441,X41,TECH FREIRE CHARTER SCHOOL,TECH Freire Charter School,Tech Freire Charter School,TECH Freire,...,0,0,0,0,0,0,1,1,1,1
159,3841.0,393395,4.218990e+11,126515001.0,4060,406,MURRELL DOBBINS HIGH SCHOOL,Murrell Dobbins Career and Technical High School,"Dobbins, Murrell Career and Technical Educatio...",Dobbins,...,0,0,0,0,0,0,1,1,1,1
316,NaN,393233,NaN,126515001.0,8450,845,YESPHILLY,YESPhilly,YESPhilly,YESPhilly,...,0,0,0,0,0,0,1,1,1,1