In [79]:
import pandas as pd

schools_data = pd.read_csv('shared_data_read_only/Education-Data/2023-2024 Master School List (20231003).csv')
schools_data.head()

,PA Code,NSC Code,NCES Code,AUN Code,ULCS Code,SRC School ID,School Name (ULCS),Publication Name,Publication Name Alpha List,Abbreviated Name,...,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade 10,Grade 11,Grade 12
0,3847.0,393345,4.218990e+11,126515001.0,1010,101,JOHN BARTRAM HIGH SCHOOL,John Bartram High School,"Bartram, John High School",Bartram,...,0,0,0,0,0,0,1,1,1,1
1,3860.0,393555,4.218990e+11,126515001.0,1020,102,WEST PHILADELPHIA HIGH SCHOOL,West Philadelphia High School,West Philadelphia High School,West Philadelphia,...,0,0,0,0,0,0,1,1,1,1
2,7903.0,392779,4.218990e+11,126515001.0,1030,103,HIGH SCHOOL OF THE FUTURE,High School of the Future,High School of the Future,HS of Future,...,0,0,0,0,0,0,1,1,1,1
3,7780.0,393347,4.218990e+11,126515001.0,1050,105,PAUL ROBESON HIGH SCHOOL,Paul Robeson High School for Human Services,"Robeson, Paul High School for Human Services",Robeson,...,0,0,0,0,0,0,1,1,1,1
4,7245.0,393944,4.218990e+11,126515001.0,1100,110,SAYRE HIGH SCHOOL,William L. Sayre High School,"Sayre, William L. High School",Sayre,...,0,0,0,0,0,0,1,1,1,1

In [80]:
final_zips = [19132, 19121, 19134, 19133, 19124]

empty_df = pd.DataFrame()

for zips in final_zips:
    zip_df = schools_data.loc[schools_data['Zip Code'] == zips]
    zip_df = zip_df.loc[zip_df['Grade 9'] == 1]

    zip_schools = zip_df['ULCS Code'].to_numpy()
    
    enroll_data_t = enroll_data.loc[enroll_data['ulcscode'].isin(zip_schools)]
    enroll_data_t = enroll_data_t.loc[enroll_data_t['GradeLevel'].str.contains('All Grades')]
    
    enroll_data_t = enroll_data_t[["Sector", "SchoolName", "StudentEnrollment", "BlackAfricanAmericanPCT", "CEPEconomicallyDisadvantagedRate"]]

    enroll_data_t.loc[len(enroll_data_t.index)] = ['N/A', 'Average', enroll_data_t['StudentEnrollment'].mean(), enroll_data_t['BlackAfricanAmericanPCT'].mean(), enroll_data_t['CEPEconomicallyDisadvantagedRate'].mean()]
    enroll_data_t.loc[len(enroll_data_t.index)] = ['N/A', 'Median', enroll_data_t['StudentEnrollment'].median(), enroll_data_t['BlackAfricanAmericanPCT'].median(), enroll_data_t['CEPEconomicallyDisadvantagedRate'].median()]
    enroll_data_t.insert(1, "Zip Code", [zips] * len(enroll_data_t), True)
    
    enroll_data_t.round(2)
    empty_df = pd.concat([empty_df, enroll_data_t], ignore_index=True)
    
display(empty_df)

,Sector,Zip Code,SchoolName,StudentEnrollment,BlackAfricanAmericanPCT,CEPEconomicallyDisadvantagedRate
0,Charter,19132,TECH Freire Charter School,494.000000,93.5200,NaN
1,District,19132,Murrell Dobbins Career and Technical High School,774.000000,89.4100,100.000
2,Alternative,19132,YESPhilly,126.000000,91.2700,100.000
3,N/A,19132,Average,464.666667,91.4000,100.000
4,N/A,19132,Median,479.333333,91.3350,100.000
5,Alternative,19121,Achieve Academy,50.000000,92.0000,100.000
6,Alternative,19121,El Centro de Estudiantes (Big Picture),100.000000,52.0000,1.600
7,District,19121,High School of Engineering and Science,843.000000,58.9600,92.430
8,District,19121,Strawberry Mansion High School,249.000000,92.3700,100.000
9,District,19121,Vaux High School: A Big Picture,305.000000,89.5100,1.050
10,Alternative,19121,Excel Academy North,208.000000,91.8300,100.000
11,Alternative,19121,One Bright Ray Mansion,105.000000,87.6200,100.000
12,Alternative,19121,One Bright Ray Mansion Evening,79.000000,88.6100,0.000
13,N/A,19121,Average,242.375000,81.6125,61.885
14,N/A,19121,Median,208.000000,88.6100,92.430
15,District,19134,Jules E. Mastbaum Area Vocational Technical Hi...,591.000000,43.1500,100.000
16,N/A,19134,Average,591.000000,43.1500,100.000
17,N/A,19134,Median,591.000000,43.1500,100.000
18,Alternative,19133,One Bright Ray - Fairhill Campus,261.000000,41.3800,0.610
19,N/A,19133,Average,261.000000,41.3800,0.610
20,N/A,19133,Median,261.000000,41.3800,0.610
21,Alternative,19124,Excel Academy South,207.000000,48.3100,100.000
22,Charter,19124,Community Academy of Philadelphia Charter School,1246.000000,9.9500,NaN
23,Charter,19124,Mariana Bracetti Academy Charter School,1509.000000,21.1400,NaN
24,Charter,19124,First Philadelphia Preparatory Charter School,1857.000000,47.2300,NaN
25,District,19124,Frankford High School,861.000000,40.3000,100.000
26,District,19124,Samuel Fels High School,1238.000000,38.3700,100.000
27,Alternative,19124,One Bright Ray - Simpson Campus,267.000000,38.2000,0.000
28,Alternative,19124,One Bright Ray Simpson - Evening,131.000000,40.4600,0.000
29,N/A,19124,Average,914.500000,35.4950,60.000
30,N/A,19124,Median,914.500000,38.3700,80.000